body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121824;
    font-family: Arial, sans-serif;
}

.login-container {
    text-align: center;
    color: #8892ff;
}

.site-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.password-input {
    width: 80%;
    max-width: 300px;
    padding: 15px;
    margin: 10px 0;
